.score {
  color: white;
}
.lives {
  color: white;
  padding-right: 15px;  
}
.time {
  color: white;
}

.hud-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score-and-lives {
  display: flex;
  flex-direction: row;
}