.biscuit {
  height: 5px;
  width: 5px;
  border: green 1px solid;
  border-radius: 50%;
  /*behavior: url(PIE.htc);*/
  background-color: white;

}

.biscuit--big {
  height: 15px;
  width: 15px;
  border: green 1px solid;
  border-radius: 50%;
  /*behavior: url(PIE.htc);*/
  background-color: white;

}
.tile-container {
  display: flex;
  background-color: darkcyan;
  background-color: #001a33;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  border: 1px lime solid;
}

/*Ghost CSS rules here*/
.no-flex {
  height: inherit;
  width: inherit;
  /*border: 1px solid yellow;*/
}

.ghost {
  margin: 2px 6px;
  width: 25px;
  height: 25px;
/*   border: 1px solid limegreen; */
  float: left;
  position: relative;
/*   background-color: darkgreen; */
  border-radius: 12.5px 12.5px 0 0;
}
.ghost .eyes {
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 50%;
}
.ghost .eyes > div {
  width: 6px;
  height: 6px;
  margin: 1px;
/*   border: 1px solid limegreen; */
  float: left;
  background: #ffffff;
  border-radius: 50%;
}
.ghost .eyes .ball {
  margin: 1px 1px 0px 1px;
/*   border: 1px solid yellow; */
  float: left;
  width: 4px;
  height: 4px;
  background: #0000ff;
  border-radius: 50%;
/*   -webkit-border-radius: 100%;
  -moz-border-radius: 100%; */
}
.ghost .bottom {
  position: absolute;
  bottom: -4px;
}
.ghost .bottom .frill {
  margin-right: -1px;
  width: 9px;
  height: 9px;
  float: left;
  background: #ff0000;
  border-radius: 9px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 30px;
}
.blinky {
  background: red;
}
.blinky .bottom .frill {
  background: red;
}


.wall {
  height: 30px;
  width: 30px;
  /*border: tomato 1px solid;*/
  background-color: blue;
}

.player--move-up {
  height: 30px;
  width: 30px;
  border-radius: 50%;  
  /*border: tomato 1px solid;*/
  /*background-color: yellow;*/
  /*background-color: yellow;*/
  background-image:
    linear-gradient(135deg, transparent 50%, yellow 50%),
    linear-gradient(45deg, yellow 50%, transparent 50%);
    /*linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(45deg, red 50%, transparent 50%);*/
}

.player--move-down {
  height: 30px;
  width: 30px;
  border-radius: 50%;  
  /*border: tomato 1px solid;*/
  /*background-color: yellow;*/
  /*background-color: yellow;*/
  background-image:
    linear-gradient(45deg, transparent 50%, yellow 50%),
    linear-gradient(135deg, yellow 50%, transparent 50%);
    /*linear-gradient(45deg, transparent 50%, green 50%),
    linear-gradient(135deg, red 50%, transparent 50%);*/
}

.player--move-left {
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%; 
  background-image:
    linear-gradient(135deg, transparent 50%, yellow 50%),
    linear-gradient(225deg, yellow 50%, transparent 50%);        
}

.player--move-right {
  display:flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;  
  /*border: tomato 1px solid;*/
  /*background-color: yellow;*/
  /*background-color: yellow;*/
  background-image:
    linear-gradient(225deg, transparent 50%, yellow 50%),
    linear-gradient(135deg, yellow 50%, transparent 50%);        
    /*linear-gradient(225deg, transparent 50%, green 50%),
    linear-gradient(135deg, red 50%, transparent 50%);*/
}