* {
  /*border: red solid 1px;*/
}


.game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding: 2px;*/
  height: 100%;
  width: 100%;
  /*flex-grow: 1;*/
}

.play-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*padding: 10px;*/
  /*border: 1px solid red;*/

  flex: 1;
}

.play-container--left {
  /*border: 1px solid yellow;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.play-container--right {
  /*border: 1px solid yellow;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-title {
  color: white;
  /*padding: 5px;*/
}

.game-screen {
  color: white;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.text-web {
  display: flex;
  font-size: 14px;
}
.text-mobile {
  display: none;
  font-size: 14px;
}

@media screen and (device-aspect-ratio: 375/667) {

  .text-mobile {
    display: flex;
    font-size: 12px;
  }

  .text-web {
    display: none;
    font-size: 12px;
  }

  .game-screen {
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
  }

  .game-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .play-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*padding: 10px;*/
    /*border: 1px solid red;*/
    height: 100%;
    flex: 1;
  }

  .play-container--left {
    /*border: 1px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }

  .play-container--right {
    /*border: 1px solid yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .game-title {
    color: white;
  }
}